<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Data Gatherer</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <app-form></app-form>
    <div class="container" id="employeeDetailsTable">
      <hr />
      <div class="detailsTable">
        <app-details-table></app-details-table>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
